.container {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;

  background-color: rgba(255, 255, 255, 0.87);
  color: #242424;

  height: 100vh;
  max-height: -webkit-fill-available;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h2 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

main {
  width: 100vw;
  height: calc(100vh - 95px - 24px);
  overflow: hidden;
  margin-bottom: 24px;
}
